/****** General ************/
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-subtitle {
  font-size: 14px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  height: 79px;
  margin-bottom: 30px;
}

.header-logo img {
  height: 19px;
  padding: 30px 50px 30px 0px;
}

.header-nav {
  display: flex;
  align-items: flex-end;
  gap: 68px;
  padding: 0px 50px 0px 50px;
  height: 35px;
}

.header-nav-item:hover {
  border-top: solid 2px var(--main-color);
  color: var(--main-color);
  padding-top: 14px;
}

/***** Main ******/

/*** infoGroup ***/

.info-group {
  margin-bottom: 35px;
}

/* headline */

.headline {
  margin-bottom: 35px;
}

.headline h1 {
  font-size: 22px;
  font-weight: bold;
}

/* search-bar */

.search-bar {
  display: flex;
  margin-bottom: 35px;
}

.search-bar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  border: 1px solid var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
  background-color: var(--main-bg-color);
}

.search-bar-icon i {
  width: 14px;
  height: 18px;
  color: black;
}

.search-bar-form {
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  border-left: 1px solid var(--main-bg-color);
}

.search-bar-form input {
  text-align: center;
  border: none;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
}

.search-bar-btn {
  border: 1px solid var(--main-color);
  border-radius: 0px 15px 15px 0px;
  padding: 15px 16px 15px 16px;
  background-color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.search-bar-btn .hidden-icon i {
  color: white;
}

.search-bar-btn .hidden-icon {
  display: none;
}

/* filterBar */

.filter-bar {
  display: flex;
  max-width: 758px;
  align-items: center;
  gap: 15px;
  height: 50px;
  margin-bottom: 35px;
}

.filter-bar h2 {
  font-size: 18px;
}

.filters {
  display: flex;
  gap: 10px;
}

.filter {
  display: flex;
  align-items: center;

  gap: 10px;
  height: 50px;
  border: 2px solid var(--main-bg-color);
  border-radius: 25px;
  padding: 4px 19px 4px 19px;
  box-sizing: border-box;
}

.filter:hover {
  cursor: default;
  background-color: var(--filter-bg-color);
}

.filter .fa-solid {
  transform: scale(1.2);
}

.filter h2 {
  font-size: 17px;
}

/* infobar */

.info-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-bar-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hebergements-cards .card {
  height: 100%;
}

.hebergements-cards img {
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}

.hebergements-details a {
  font-size: 18px;
  font-weight: bold;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* activities */

.activities {
  width: 100%;
  margin-top: 35px;
  padding: 30px;
  box-sizing: border-box;
}

.activities .section-title {
  margin-bottom: 30px;
}

.activities-cards {
  display: flex;
  gap: 30px;
}

.card-link {
  width: 25%;
}

.activities-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities-card .card-title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 15px 20px 15px;
  height: 59px;
}

.activities-card img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

/* footer */

.footer {
  display: flex;
  height: 163px;
  background-color: var(--main-bg-color);
  margin-top: 35px;
}

.footer-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.footer-item h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-item li {
  margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /* filter-bar - tablette */

  .filter-bar {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: auto;
    min-height: 91px;
  }

  /* hebergements - tablette  */

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  /* populaires - tablette */

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  /* activities - tablette */

  .activities-card {
    max-height: 270px;
  }
  .activities-card img {
    max-height: 200px;
    width: 100%;
  }
  .activities-card .card-title {
    height: 70px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  /* header - mobile */

  header {
    height: 115px;
    flex-direction: column;
    align-items: center;
  }

  .header-logo img {
    padding: 30px;
  }

  .header-nav {
    width: 100%;
    align-items: flex-start;
    padding: 0;
    gap: 0;
  }

  .header-nav-item {
    width: 50%;
    height: 33px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--main-bg-color);
  }

  .header-nav-item:hover {
    border-top: none;
    padding-top: 0;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }

  /* info-group - mobile */

  .info-group {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* search-bar - mobile */

  .search-bar-form {
    width: 100%;
  }

  .search-bar-form input {
    text-align: start;
    padding-left: 15px;
    width: 100%;
  }

  .search-bar-btn {
    border-radius: 15px;
    padding: 15px 16px 15px 16px;
    box-shadow: 0px 4px 4px 0px #00000040;
    transform: translate(-11px, 0px);
  }

  .search-bar-btn .hidden-icon {
    display: contents;
    color: white;
  }

  .search-bar-btn .hidden-text {
    display: none;
  }

  /* filter-bar - mobile */

  .filter h2 {
    font-size: 14px;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .filter {
    flex: 1;
    min-width: 48%;
  }

  /* hebergements and populaires - mobile */

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  /* populaires - mobile */

  .hebergements-and-populaires .populaires {
    border-radius: 0;
    margin-top: 35px;
    padding: 30px 20px 30px 20px;
  }

  .populaires-cards {
    display: block;
  }

  .populaires-cards .card {
    margin-top: 15px;
  }

  /* hebergements - mobile */

  .hebergements-and-populaires .hebergements {
    background-color: white;
    padding: 20px;
  }

  .hebergements-cards {
    display: block;
  }

  .hebergements-cards .card {
    margin-top: 15px;
  }

  .hebergements .card-title,
  .card-subtitle {
    margin-bottom: 8px;
  }

  /* activities -mobile */

  .activities {
    padding: 30px 20px;
  }

  .activities-cards {
    display: block;
  }

  .activities-card {
    margin-top: 15px;
  }

  .activities-card img {
    height: 141px;
  }

  .activities-card .card-title {
    height: 59px;
  }

  /* footer - mobile */

  .footer {
    height: auto;
    flex-direction: column;
  }

  /* test activities */

  .activities-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .card-link {
    width: 324px;
  }

  .hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .hebergements-cards a {
    width: 324px;
  }
}
